<div data-ng-view=""></div>

<script type="text/javascript" src="@Url.Content("~/Content/js/app/home/route.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/app/home/factories/homeFactory.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/app/home/controllers/homeController.js")"></script>